.page-container {
    width: 100%;
    height: 100%;
}

.form-container {
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    width: 30%;
    padding: 30px;
}

.form-checker {
    margin-bottom: 10px;
}

.utilities {
    padding: 10px;
}

.fa-solid.fa-plus {
    color: blue;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.fa-solid.fa-xmark {
    float: right;
    color: red;
    cursor: pointer;
}